._preview-pic-row {
  height: 50%;
  max-width: 550px;
  position: absolute;
  padding-top: 80px;
  padding-left: 30px;
  }

  ._preview-pic-col {
    display: flex;
    height: inherit; width: 100%;
    align-items: center;
    justify-content: center;
  }

  ._preview-pokeball {
    max-width: 80px;
    padding-top: 10px;
    padding-right: 25px;
  }
  
  ._preview-pic-sprite {
    padding-top: 15px;
    padding-right: 10px;
    max-height: 140px;
    max-width: 140px;
    width: inherit;
  }

  ._preview-order-row {
    height: 50%;
    max-width: 420px;
    position: absolute;
    padding-top: 212px;
   padding-left: 45px;
  }

  ._preview-order-col {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: white;                    
  }

  ._preview-name-col {
    display: flex;     
    justify-content: center;
    padding-top: 35px;
  }

  ._preview-name-row {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    color: white;
    padding-right: 8px;
  }

  ._preview-font-size1 {
    font-size: 7.5px;
  }

  ._preview-font-size2 {
    font-size: 8px;
  }

  ._preview-font-size3 {
    font-size: 9px;
  }

  ._preview-font-size4 {
    font-size: 10px;
  }

  ._preview-font-size5 {
    font-size: 11px;
  }

  ._preview-font-size6 {
    font-size: 13px;
  }

  ._preview-font-size7 {
    font-size: 15px;
  }

  ._preview-font-size8 {
    font-size: 20px;
  }


